*.egg-info/
*.log
*.py[cod]
.env
.idea/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
__pycache__/
build/
dist/
frontend/circuit_composer/frontend/build/
frontend/circuit_composer/frontend/dist/
node_modules/
venv/
